body {
  font-family: 'Lato', sans-serif;
  background-color: black;
}

.header {
  height: 300px;
  color: lavenderblush;
  padding: 1em;
  background-color: darkorchid;
  font-size: 2em;
  opacity: .9;
}

#deets {
  padding: 0px;
  font-size: .5em;
}

button {
  border: 1px solid;
  border-radius: 35px;
  color: lavenderblush;
  border-color: lavenderblush;
  padding: .4em 1em .4em 1em;
  margin-top: .5em;
  background-color: rgba(255,45,234, .5);
  font-size: .7em;
}
